:root {
    --highlight-color: hsl(0, 0%, 90%);
    --background-color: hsl(0, 0%, 8%);
    --light-highlight: hsl(0, 0%, 8%);
    --light-background: hsl(0, 0%, 90%);
    --ui-box: hsl(0, 0%, 10%);
}

*{
    box-sizing: border-box;
    color: var(--highlight-color);
    font-family: "Nunito", Arial;
}

@font-face{
    src: url(../assets/fonts/Nunito-VariableFont_wght.ttf);
    font-family: Nunito;
}

body{
    /* background */
    background-color: var(--background-color);
    background-image: url(../assets/images/dots2.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 48px;

    /* border */
    /* border-left: solid 10px var(--highlight-color);
    border-right: solid 10px var(--highlight-color);
    margin: 0; */
}

.box{
    backdrop-filter: blur(1px);
    border: solid 1px var(--highlight-color);
    border-radius: 15px;
    background: repeating-linear-gradient(-225deg, 
        hsla(0, 0%, 12%, 0.8),
        hsl(0, 0%, 20%, 0.8) 500px,
        hsla(0, 0%, 12%, 0.8) 1000px
    );
}

/* ----All button effects---- */
/* btn1 is for big page navigation buttons */
.btn1{
    background-color: var(--ui-box);
    border: 1px solid hsl(0, 0%, 0%, 0);
    border-radius: 15px;
    box-shadow: 3px 3px 5px hsl(0, 0%, 2%), -3px -3px 5px hsl(0, 0%, 30%, 0.80);

    cursor: pointer;
    transition: border-color 1s, background-color 0.25s;
}
.btn1:hover{
    background: repeating-linear-gradient(225deg, 
        hsla(0, 0%, 12%, 0.4),
        hsl(0, 0%, 20%, 0.4) 100px,
        hsla(0, 0%, 12%, 0.4) 200px
    );
    border: solid 1px var(--highlight-color);
}
.btn1:active{
    background: none;
    background-color: var(--background-color);
    --highlight-color: hsl(0, 0%, 70%);
    backdrop-filter: blur(1px);
    box-shadow: inset 5px 5px 5px hsl(0, 0%, 0%), inset -5px -5px 5px hsl(0, 0%, 18%);
}
/* btn2 is for checkbox buttons */
.btn2{
    background-color: var(--ui-box);
    border: 1px solid hsl(0, 0%, 0%, 0);
    border-radius: 15px;
    box-shadow: 1px 1px 5px hsl(0, 0%, 2%), -1px -1px 5px hsl(0, 0%, 30%, 0.80);

    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s;
}
.btn2:hover{
    border: solid 1px var(--highlight-color);
}
.btn2:active{
    background-color: var(--background-color);
    --highlight-color: hsl(0, 0%, 70%);
    backdrop-filter: blur(1px);
    box-shadow: inset 5px 5px 5px hsl(0, 0%, 0%), inset -5px -5px 5px hsl(0, 0%, 18%);
}