:root {
    --highlight-color: hsl(0, 0%, 95%);
    --sec-highlight-color: hsl(0, 0%, 50%);
    --background-color: hsl(0, 0%, 8%);
    --ui-box: hsl(0, 0%, 10%);
    --light-highlight: hsl(0, 0%, 8%);
    --light-background: hsl(0, 0%, 95%);
    --light-ui-box: hsl(0, 0%, 25%);
}

*{
    box-sizing: border-box;
    color: var(--highlight-color);
    font-family: "Nunito", Arial;
}

@font-face{
    src: url(../assets/fonts/Nunito-VariableFont_wght.ttf);
    font-family: Nunito;
}

html{
    overflow-y: scroll;
}

body{
    /* background */
    background-color: var(--background-color);
    background-image: url(../assets/images/dotsnlines.svg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 56px;
}
/* gradient/shadow at the bottom of background */
body::after{
    content: "";
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 35rem;
    background: linear-gradient(transparent, var(--background-color) 80%, var(--background-color) 100%);
    z-index: 0;
}
h1{
    margin: 0px;
}
p{
    margin: 0px
}

.box{
    position: relative;
    z-index: 1;
    backdrop-filter: blur(2px);
    border: solid 1px var(--highlight-color);
    border-radius: 15px;
    background: repeating-linear-gradient(-225deg, 
        hsla(0, 0%, 10%, 0.4),
        hsl(0, 0%, 22%, 0.4) 500px,
        hsla(0, 0%, 10%, 0.4) 1000px
    );
}

/* ----All button effects---- */
/* btn1 is for page navigation buttons */
.btn1{
    background-color: var(--ui-box);
    border: 1px solid hsl(0, 0%, 0%, 0);
    border-radius: 15px;
    box-shadow: 4px 4px 10px hsl(0, 0%, 2%), -4px -4px 10px hsl(0, 0%, 25%, 0.80);

    cursor: pointer;
    transition: border-color 1s, background-color 0.25s;
}
.btn1:hover{
    background: repeating-linear-gradient(225deg, 
        hsla(0, 0%, 5%, 0.4),
        hsl(0, 0%, 15%, 0.4) 30%,
        hsla(0, 0%, 5%, 0.4) 60%
    );
    border: solid 1px var(--highlight-color);
}
.btn1:active{
    background: none;
    background-color: var(--background-color);
    --highlight-color: hsl(0, 0%, 70%);
    backdrop-filter: blur(1px);
    box-shadow: inset 5px 5px 10px hsl(0, 0%, 0%), inset -5px -5px 10px hsl(0, 0%, 18%);
}
/* btn2 is for checkbox buttons */
.btn2{
    background-color: var(--ui-box);
    border: 1px solid hsl(0, 0%, 0%, 0);
    border-radius: 100px;
    box-shadow: 3px 3px 10px hsl(0, 0%, 2%), -3px -3px 10px hsl(0, 0%, 25%, 0.80);

    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s;
}
.btn2:hover{
    border: solid 1px var(--highlight-color);
}
.btn2:active{
    background-color: var(--background-color);
    --highlight-color: hsl(0, 0%, 70%);
    backdrop-filter: blur(1px);
    box-shadow: inset 5px 5px 5px hsl(0, 0%, 0%), inset -5px -5px 5px hsl(0, 0%, 18%);
}
/* btn3 is for dropdown opening buttons */
.btn3{
    background-color: var(--light-ui-box);
    border: 1px solid var(--sec-highlight-color);
    border-radius: 100px;

    cursor: pointer;
    transition: transform 0.25s ease;
}