/* ----Back Btn---- */
#back{
    aspect-ratio: 1/1;
    font-size: min(7.25vw, 1.5rem);
    width: 2.5em;
    border-radius: 100px;

    margin-left: 2em;
    position: absolute;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----Search box---- */
/* Box */
#searchBox{
    margin: min(7.25vw, 3rem);
    display: block;
    justify-self: center;
    max-width: 45rem;
}
/* Search Bar */
#searchBar{
    background: transparent;
    border: none;
    outline: none;

    display: block;
    justify-self: center;
    margin: 1em;
    width: 75%;


    text-align: center;
    font-size: min(7.25vw, 1.5rem);
}
#searchBar::-webkit-search-cancel-button{
    display: none;
}
/* Search Filters */
#searchFilters{
    margin: min(7.25vw, 1.5rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: min(7.25vw, 1.5rem);
}
#searchFilters label{
    font-size: min(7.25vw, 1rem);
    padding: 0.4em 1em;
    text-align: center;
}
input:checked + label{
    background-color: var(--light-background);
    --highlight-color: var(--light-highlight);
}
input[type="checkbox"]{
    display: none;
}

/* ----Projects---- */
#projects{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-inline: auto;
}
/* project box */
.project{
    max-width: 95rem;
}
/* title */
.projectTitle{
    display: flex;
    align-items: center;
}
.projectTitle h1{
    font-size: 4rem;
    margin: 2rem;
    display: inline-block;
}
.projectTitle .btn3{
    aspect-ratio: 1/1;
    font-size: 1.5rem;
    width: 2.5em;
}
/* content */
.projectContent{
    margin: 4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.projectContent p{
    font-size: 1.5rem;
    max-width: 50%;
}
img{
    width: 600px;
    border-radius: 15px;
}

/* class used for displaying search results */
.hide{
    display: none;
}

