/* ----Back Btn---- */
#back{
    margin-left: 40px;
    font-size: 25px;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    float: left;

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----Search box---- */
/* Box */
#searchBox{
    margin: 40px;
    display: block;
    justify-self: center;
    width: auto;

    backdrop-filter: blur(1px);
    border: solid 1px var(--highlight-color);
    border-radius: 15px;
    background: repeating-linear-gradient(-225deg, 
        hsla(0, 0%, 12%, 0.8),
        hsl(0, 0%, 20%, 0.8) 500px,
        hsla(0, 0%, 12%, 0.8) 1000px
    );
}
/* Search Bar */
#searchBar{
    background: transparent;
    border: none;
    outline: none;

    display: block;
    justify-self: center;
    margin: 20px;
    width: 75%;


    text-align: center;
    font-size: 20px;
}
#searchBar::-webkit-search-cancel-button{
    display: none;
}
/* Search Filters */
#searchFilters{
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
#searchFilters label{
    min-width: 40px;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
input:checked + label{
    background-color: var(--light-background);
    --highlight-color: var(--light-highlight);
}
input[type="checkbox"]{
    display: none;
}

/* ----Projects---- */
#projects{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 70px;
    margin-right: 70px;
}
/* project boxes */
.project{
    padding: 70px;
}
h1{
    border: red solid 1px;
    font-size: 4rem;
}
.projectContent{
    margin-top: 35px;
    display: flex;
    gap: 35px;
}
p{
    border: red solid 1px;
    font-size: 2rem;
}
img{
    width: 600px;
    border-radius: 15px;
}

/* class used for displaying search results */
.hide{
    display: none;
}

