/* ----Back Btn---- */
#back{
    aspect-ratio: 1/1;
    font-size: min(7.25vw, 1.5rem);
    width: 2.5em;
    border-radius: 100px;

    margin-left: 2em;
    position: absolute;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----Search box---- */
/* Box */
#searchBox{
    margin: min(7vw, 2.5rem);
    display: block;
    justify-self: center;
    max-width: 45rem;
}
/* Search Bar */
#searchBar{
    background: transparent;
    border: none;
    outline: none;

    display: block;
    justify-self: center;
    margin: 1em;
    width: 75%;


    text-align: center;
    font-size: min(7.25vw, 1.5rem);
}
#searchBar::-webkit-search-cancel-button{
    display: none;
}
/* Search Filters */
#searchFilters{
    margin: min(7.25vw, 1.5rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: min(7.25vw, 1.5rem);
}
#searchFilters label{
    font-size: min(7.25vw, 1rem);
    padding: 0.4em 1em;
    text-align: center;
}
input:checked + label{
    background-color: var(--light-background);
    --highlight-color: var(--light-highlight);
}
input[type="checkbox"]{
    display: none;
}

/* ----Projects---- */
#projects{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-inline: auto;
}
/* project box */
.project{
    max-width: 90rem;
    transition: border-radius 0.25s ease;
}
/* title */
.projectTitle{
    margin: min(5vw, 2.5rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: min(5vw, 2rem);
}
.projectTitle h1{
    font-size: min(8vw, 4rem);
    display: inline-block;
}
.projectTitle .btn3{
    aspect-ratio: 1/1;
    font-size: 2rem;
    width: 2.25em;
}
.expandedBtn{
    transform: rotate(90deg);
}
/* content */
.projectContent{
    display: flex;
    margin: min(1vw, 2.5rem);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.projectDesc{
    font-size: min(3vw, 1.5rem);
    width: min(76vw, 38rem);
}
.projectDesc .btn1{
    aspect-ratio: 25 / 8;
    width: min(40vw, 20rem);
    font-size: min(8vw, 2.25rem);
    text-decoration: none;
    justify-self: center;
    margin-top: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img{
    width: min(76vw, 38rem);
    border-radius: 15px;
}

.closedProject{
    border-radius: 100px;
}
.closedProject .projectContent{
    display: none;
}
/* class used for displaying search results */
.hide{
    display: none;
}
@media (max-width: 1000px){
    #back{
        position: relative;
        margin: 1em;
        justify-self: center;

        aspect-ratio: 2/1;
        height: 2em;
        width: auto;
    }
}