*{
    box-sizing: border-box;
}

@font-face{
    src: url(/fonts/Nunito-VariableFont_wght.ttf);
    font-family: Nunito;
}
body{
    /* background */
    background-image: url(/images/dots.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 15px;
    background-color: hsl(0, 0%, 8%);

    /* border */
    border-left: solid 2px hsl(36, 100%, 89%);
    border-right: solid 2px hsl(36, 100%, 89%);
    margin: 0;
}
#title{
    margin: 6vh;
    /* background-color: hsl(0, 0%, 8%);
    border-radius: 15px; */
    text-align: center;
    font-family: "Nunito", Arial;
    justify-self: center;
    color: hsl(35, 100%, 97%);
}

/* main box */
#box{
    background-color: hsla(0, 0%, 15%, 0.60);
    backdrop-filter: blur(1px);
    border: solid 1px hsl(36, 100%, 89%);
    border-radius: 15px;
    margin-top: 6vh;
    justify-self: center;
    height: 600px;
    width: 800px;
}
/* webring */
#webring{
    display: block;
    text-align: center;
}
#webring a{
    text-decoration: none;
    color: hsl(35, 100%, 97%);
}
/* main buttons */
#pageBtns{
    margin: 30px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* border: red solid 3px; */
}
.btn1{
    height: 140px;
    width: 42%;

    background-color: hsla(0, 0%, 15%);
    border: none;
    border-radius: 15px;
    box-shadow: 1px 2px 5px hsl(0, 0%, 8%);

    color: hsl(35, 100%, 97%);
    font-size: 40px;
    cursor: pointer;
}
.btn1:hover{
    background-color: hsl(0, 0%, 0%, 0);
    box-shadow: none;
}
.btn1:active{
    background-color: hsl(36, 100%, 89%, 0.50);
}
/* contact buttons */
#contactBtns{
    margin: 30px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* desktops */
#name{
    font-size: 9vh;
}
#desc{
    font-size: 3vh;
}

/* mobile */
@media screen and (max-width: 800px){
    #title #name{
        font-size: 50px;
    }
    #title #desc{
        font-size: 20px;
    }
}