#name{
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: min(12vw, 6rem);
    margin-bottom: -0.15em;
}
#desc{
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: min(5vw, 3rem);
}

/* main box */
.box{
    margin-top: 2rem;
    margin-inline: auto;
    max-width: 62.5rem;
}

/* ----button positions and sizes---- */
/* contact buttons */
#contactBtns{
    margin: min(3vw, 2rem);
    display: flex;
    justify-content: center;
    gap: min(2vw, 1.25rem);
}
#contactBtns a{
    aspect-ratio: 1/1;
    width: min(15vw, 4.5rem);
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    fill: var(--highlight-color);
}
#contactBtns svg{
    width: 70%;
}
/* main buttons */
#pageBtns{
    margin: min(3vw, 2rem);
    display: flex;
    gap: min(3vw, 2rem);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#pageBtns a{
    aspect-ratio: 25 / 8;
    width: 25rem;
    font-size: min(8vw, 2.25rem);
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* webring */
#webring{
    margin: min(3vw, 2rem);
    display: flex;
    gap: 0.625rem;
    justify-content: center;
}
#webring a{
    aspect-ratio: 1/1;
    width: min(12vw, 4rem);
    border-radius: 100px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}
#webring a img{
    height: min(7.25vw, 2rem);
}
#webring a svg{
    width: 70%;
    fill: var(--highlight-color);
}