#name{
    text-align: center;
    border: red solid 5px;
    font-size: min(10vw, 6rem);
}
#desc{
    text-align: center;
    font-size: min(5vw, 2rem);
    border: red solid 5px;
}

/* main box */
.box{
    margin-top: 2vw;
    margin-inline: auto;
    max-width: 1000px;
}

/* ----button positions and sizes---- */
/* contact buttons */
#contactBtns{
    margin: 2rem;
    display: flex;
    justify-content: center;
    gap: 20px;
}
#contactBtns a{
    height: 4.5rem;
    width: 4.5rem;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    fill: var(--highlight-color);
}
/* main buttons */
#pageBtns{
    margin: 2rem;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* border: red solid 3px; */
}
#pageBtns a{
    aspect-ratio: 25 / 8;
    width: 25rem;
    font-size: min(2.25rem);
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* webring */
#webring{
    margin: 2rem;
    display: flex;
    gap: 10px;
    justify-content: center;
}
#webring a{
    font-size: 1.5rem;
    height: 4rem;
    width: 4rem;
    border-radius: 100px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}
#webring a img{
    height: 35px;
}

/* desktops */


/* mobile
@media screen and (max-width: 800px){
    #title #name{
        font-size: 50px;
    }
    #title #desc{
        font-size: 20px;
    }
} */